@model IEnumerable<Example.Covid19.WebUI.DTO.Cases.CountriesCases.Countries>
@{
    ViewData["Title"] = "Países";
}

<h1>Países</h1>

<table class="table table-bordered">
  <thead>
    <tr class="text-center">
      <th scope="col">País</th>
      <th scope="col">Slug</th>
      <th scope="col">ISO2</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var country in Model.ToList())
    {
      <tr class="text-center">
        <td>@country.Country</td>
        <td>@country.Slug</td>
        <td>@country.ISO2</td>
      </tr>
    }
  </tbody>
</table>