@{
    ViewData["Title"] = "Home Page";
}

<h1>COVID-19 API</h1>
<p>Selecciona una de las siguientes APIs para comenzar, o bien, desde el menú de arriba:</p>

<div class="container mt-5">
  <div class="row">
    <a href="Summary/GetSummary" class="btn btn-primary btn-lg mr-2 mb-3">Resumen</a>
    <a href="Stats/GetStats" class="btn btn-primary btn-lg mr-2 mb-3">Estadísticas</a>
    <a href="Countries/GetCountries" class="btn btn-primary btn-lg mr-2 mb-3">Países</a>
  </div>
  <div class="row">
    <div><a href="DayOne" class="btn btn-primary btn-lg mr-2 mb-3">Day One</a></div>
    <div><a href="DayOneLive" class="btn btn-primary btn-lg mr-2 mb-3">Day One Live</a></div>
    <div><a href="DayOneTotal" class="btn btn-primary btn-lg mr-2 mb-3">Day One Total</a></div>
  </div>
  <div class="row">
    <div><a href="ByCountry" class="btn btn-primary btn-lg mr-2 mb-3">By Country</a></div>
    <div><a href="ByCountryLive" class="btn btn-primary btn-lg mr-2 mb-3">By Country Live</a></div>
    <div><a href="ByCountryTotal" class="btn btn-primary btn-lg mr-2 mb-3">By Country Total</a></div>
  </div>
  <div class="row">
    <div><a href="LiveByCountryAndStatus" class="btn btn-primary btn-lg mr-2 mb-3">Live By Country And Status</a></div>
    <div><a href="LiveByCountryAndStatusAfterDate" class="btn btn-primary btn-lg mr-2 mb-3">Live By Country And Status After Date</a></div>
  </div>
</div>